extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/api/usuario", method="POST")
        div
            label(for="nombre") nombre
            input(type="text",name="nombre",placeholder="nombre", id="nombre")
        div
         label(for="correo") correo
            input(type="text",name="email",placeholder="correo", id="email")
        div
         label(for="apellido") apellido
            input(type="text",name="apellido",placeholder="apellido", id="apellido")
        div
         label(for="password") password
            input(type="text",name="password",placeholder="password", id="password")
        div
         label(for="direccion") direccion
            input(type="text",name="direccion",placeholder="direccion", id="direccion")
        div
         label(for="celular") Celular
            input(type="text",name="celular",placeholder="celular", id="celular")
             
        div
            input(type="submit", value="Enviar") 
